[defaults]
inventory = ~/github/ansible/inventory/develop
private_key_file = ~/.ssh/id_rsa
roles_path = ~/ansible/roles

[docker]
inventory = ~/github/ansible/inventory/docker
remote_user = root
private_key_file = ~/.ssh/id_rsa
host_key_checking = False
roles_path = ~/ansible/roles

[aws]
inventory = ~/github/ansible/inventory/aws
private_key_file = ~/.ssh/id_rsa
roles_path = ~/ansible/roles

[do]
inventory = ~/github/ansible/inventory/do
private_key_file = ~/.ssh/id_rsa
roles_path = ~/ansible/roles








